<p>servers works!</p>

<app-server></app-server>

<button class="btn btn-primary"
        [disabled] ="!allowNewServer"
        (click)="onCreateServer()"> Add Server</button>  <!--Property Binding-->

<p [innerText]="'allowNewServer = ' + allowNewServer"> </p> <!--String Interpolation-->

<p>serverName = {{ serverName }}</p>

<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)" >

<input type="text"
       class="form-control"
       [(ngModel)] = "serverName" >

<p>{{ serverCreationStatus }}</p>

<p><---------------------------------------------- BEGINNING HOMEWORK 2 ----------------------------------------------></p>

<input type="text"
       class="form-control"
       (input)="onUpdateUsername($event)" >

<input type="text"
       class="form-control"
       [(ngModel)] = "username" >

<p> {{ username }} </p>

<button class="btn btn-primary"
        [disabled] ="username === ''"
        (click)="setUserName()"> Username Button </button>

<p><---------------------------------------------- FINISH HOMEWORK 2 ----------------------------------------------></p>

<p *ngIf="serverCreated; else noServer"> server has been created {{ serverName }}</p>

<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
